* {
	margin:0;
	padding:0;
}

form	{
	padding: 5px;
	text-align: left;
	width: 500px;
}

legend	{
	padding: 5px 10px;
	font-size: 18px;
	font-weight: bold;
}

dl {
	padding: 5px;
}

dl dd	{
	padding: 5px;
}

dl dd label	{
	display: block;
}

dl dd .error	{
	font-size: 11px;
	display: block;
	padding: 2px;
	color: red;
}

dl dd .textLimit	{
	float: right;
}

dl dd input,
dl dd textarea,
dl dd select {
	width: 100%;
	padding: 3px;
}

.span.score	{
	width: 100px;
	height: 20px;
	border: 1px solid silver;
	display: block;
	margin-top: 5px;
	overflow: hidden;
}
.span.score span {
	display: block;
	width: 0%;
	height: 100%;
	background: gray;
}

.error_contents	{
	background: url(../images/accept_error_sprites.png) 0 0 no-repeat;
	width: 14px;
	height: 13px;
	display: inline-block;
	margin-right: 5px;
}