/*  ===== INFO =========================================================
   
    -FileName:		edit_personal_info.css
    -Description:	Formatting and styling for the Profile Edit Page
    -Version:		Unspecified Beta
    -Site:		Fandrop.com
    -Author/s:		Dmitry Kashlev & Michael Eng
    
    ----- Structure ----------------------------------------------------
    
    -Page format:	960 Grid - Fluid variant
    
    ----- Anchors ------------------------------------------------------
    
    --profileColumns		Layout and styling for the Newsfeeds
	--leftColumn		Layout for Left Column
	--rightColumn		Layout for Right Column
    --singleColumn		Layout for the Bottom Column
        --mapDisplay		Layout for the Map area

    ================================================================= */


/* ===== Edit Profile 2 Column (--profileColumns) =================== */

    #main_profile_content .profile_padding{
	margin-top: 20px;
    }
    #main_profile_content .edit_info_main ul .two_column{
	width: 100%;
	border-bottom: 1px solid #E6E6E6;
    }

    /* ----- left column (--leftColumn) ----------------------------- */
    #main_profile_content .edit_info_main ul li.edit_section.left_column{
	width: 50%;
	overflow: hidden;
	border-bottom: none;
	padding: 10px 0 25px 0;
	    border-right: 1px solid #E6E6E6;
	    margin-left: 25px;
	    float: left;
    }
    #main_profile_content .edit_info_main ul li.edit_section.left_column div.edit_body{
	margin-left: 20px;
	color: #656565;
	clear: both;
	width: 100%;
    }
    #main_profile_content .edit_info_main ul li.edit_section.left_column textarea{
	width: 355px;
	height: 70px;
	border: 1px solid #cccccc;
	max-width: 100%;
	min-width: 210px;
	min-height: 70px;
	padding: 5px;
    }
    #main_profile_content .edit_info_main ul li.edit_section.left_column .text_input,
    #main_profile_content .edit_info_main ul li.edit_section.left_column .new_data{
	/*width: 210px;*/
	width: 90%;
	padding: 0 5px 0 5px;
	height: 25px;
	color: #656565;
	font-size: 14px;
	line-height: 21px;
	border: 1px solid #cccccc;
    }
    #main_profile_content .edit_info_main ul li.edit_section.left_column textarea {
	resize: none;
    }
    .edit_info_main .left_column div > ul > li {
	/*width: 240px;*/
	width: 70%;
	padding: 7px 0 5px 0;
	border: none;
	margin-left: 5px;
	float: left;
    }
    .edit_info_main .left_column ul li.left{
	text-align: right;
	width: 55px;
	padding-top: 7px;
	padding-right: 10px;
	margin-left: 10px;
	vertical-align: top;
	font-weight: bold;
    }
    #editLeft_alert {
	margin: 0 0 10px 5px;
	color: red;
	font-weight: bold;
    }
    #editLeft_alert p{			/* Invalid Email message adds a <p> */
	font-weight: bold;
    }
    /* ----- right column (--rightColumn) --------------------------- */
    #main_profile_content .edit_info_main ul li.edit_section.right_column{
	width: 45%;
	overflow: hidden;
	border-bottom: none;
	padding: 10px 0 0px 0;
	/*margin-right: 15px;
	margin-left: 0px;*/
	margin: auto;
	/*float: right;*/
    }
    #main_profile_content .edit_info_main ul li.edit_section.right_column div.edit_body{
	margin-left: 20px;
	color: #656565;
	clear: both;
	width: 100%;
    }
    .edit_body.right_column_spacing {
	/*width: 350px !important;*/
	margin-left: 0 !important;
    }
    #school_entry_list {
	margin-left: 0px;
    }
    .edit_info_main #school_entry_list li.left,
    #school_entry_form li.left {
        width: 85px !important;
        float: left;
        display: inline-block;
    }
    .edit_info_main #school_entry_list li.body,
    #school_entry_form li.body {
    	width: 55%;
    	float: left;
    	display: inline-block;
        padding: 0px 0px 12px 0px !important;
    }
    .edit_info_main #school_entry_list li.school_year {
	width: 130px;
    }
    #school_entry_list .edit_button_left {
	/*when Webkit finally fixes this bug of pixel positioning being inaccurate change this line back*/
	/*background: url(/images/edit_icon_dark.png) no-repeat scroll 35px !important;*/
	background: url(/images/edit_icon2.png) no-repeat scroll 86% !important;
	width: 30px;
	color: #929292;
	font: 11px "lucida grande",tahoma,helvetica,arial,sans-serif;
	padding: 4px 42px 4px 5px !important;
	border: none;
	margin: -7px 20px 0px 5px !important;
	float: right !important;
	position: relative;
	display: inline;
    }
    #school_entry_list .edit_button_left:hover {
	color: #929292;
	/*when Webkit finally fixes this bug of pixel positioning being inaccurate change this line back*/
	/*background: url(/images/edit_icon.png) no-repeat scroll 35px !important;*/
	background: #ddeeff url(/images/edit_icon2.png) no-repeat scroll 86% !important;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    }
    #school_entry_list .delete {
	text-align: center;
	float: right;
	vertical-align: top;
	width: 11px; 
	height: 11px;
	text-indent: -9999px;
	display: block;
	background: url(/images/close.png) no-repeat center center;
	background-position: 0px;
	margin-right: 20px;
	float: right;
    }
    #school_entry_list .delete:hover {
	background-position: -11px;
	cursor: pointer;
    }
    .school_entry > form > li > span,
    .school_entry > li > span {
	vertical-align: bottom;
    }
    .editSchool img:hover {
	background-color: #D0D0D0;
    }
    .edit_info_main .school_form_text {
    	width: 100%;
    }
    .edit_info_main button.removeSchool,
    .edit_info_main button.updateSchool,
    .edit_info_main button.cancelUpdateSchool {
    	margin-right: 5px !important;
    }
    .school_name, .school_detail_year, .school_detail_major {
	line-height: 14px;
    }
    #submit_school {
	min-height: 26px;
    }
    
/* ===== Single Column (--singleColumn) ============================= */
    .edit_info_main div > ul > li,
    .edit_info_main li.body{
        width: 100%;
        padding: 5px 0 5px 0;
        border: none;
        margin-left: 5px;
        float: left;
    }
    .edit_body.spacing {
	width: 600px !important;
	margin-left: 0 !important;
    }
    a.add_more{
        color: #3366cc;
        background: url(/images/add_more.png) no-repeat left center;
        font-weight: bold;
        margin: 6px 0 0 0;
        padding-left: 10px;
    }
    .edit_info_main ul li.left{
        text-align: right;
        width: 30px;
        padding-right: 10px;
        margin-left: 0;
        vertical-align: top;
        font-weight: bold;
    }
    .edit_info_main .link_entry ul li.left{
        margin-top: 4px;
    }
    .edit_info_main ul li.special{
        padding-bottom: 0px !important;
    }
    .edit_info_main ul li.spacer{
        padding-bottom: 5px !important;
    }
    .edit_info_main ul li.edit_section{
        /*width: 735px;*/
        overflow: hidden;
        margin-left: 0px;
        border-bottom: 1px solid #E6E6E6;
        padding: 20px 0 20px 25px;
    }
    .edit_info_main ul li select{
        height: 19px;
        color: #656565;
    }
    .edit_info_main .edit_body > ul > li span{
        /*margin-left: 3px;*/
        position: relative;
        bottom: 2px;
	margin: 0 10px 0 5px;
    }
    .edit_info_main tr td.left{
        width: 110px;
    }
    .edit_info_main textarea{
        width: 355px;
        height: 145px;
        border: 1px solid #cccccc;
        max-width: 355px;
        min-width: 355px;
        min-height: 145px;
        padding: 5px;
    }
    .edit_info_main input:not([type=submit]):hover{
        border: 1px solid #3366cc;
        color: #3366cc;
    }
    .edit_info_main .text_input,
    .edit_info_main .new_data{
        width: 299px;
        padding: 0 5px 0 5px;
        height: 19px;
        color: #656565;
        line-height: 21px;
        border: 1px solid #cccccc;
    }
    .edit_body ul.token-input-list-google {
	width: 100%!important;
    }
    .edit_info_main .new_data{
        background: #F0F0F0;
        color: #5D5D5D;
    }
    .edit_info_main .location ul li.left{
        width: 100px;
    }

    /* ---- Map Display (--mapDisplay) ------------------------------ */
    #location_container .listPlace {
	vertical-align: top;
    }
    #location_container .edit_body {
	margin-left: 35px;
    }
    #location_container .edit_body #showPlace {
	position: relative;
	min-height: 220px;
	margin-left: 10px;
    }
    #location_container #mapPlace {
	margin-left: 10px;
	vertical-align: top;
	width: 308px !important;
    }
    #location_container .edit_body #mapPlace {
	top: 10px;
	right: 25px;
    }
    #location_container #mapPlace img {
	vertical-align: top;
    }