/*  ===== INFO =========================================================
   
    -FileName:		forget_password_ugc.css
    -Description:	Formatting and styling for the Forgotten Password Page
    -Version:		Unspecified Beta
    -Site:		Fandrop.com
    -Author/s:		Michael Eng
    
    ----- Structure ----------------------------------------------------
    
    -Page format:	960 Grid - Fluid variant
    
    ----- Anchors ------------------------------------------------------
    
    --genStyling	General Styling
    
    ================================================================= */

/* ===== General Styling (--genStyling) ============================= */

    #container.forgotten_pass {
	margin-top: 100px;
    }
    .resetPasswordContainer {
	background: #FFFFFF;
	padding: 15px;
	border: 1px solid #D4D5D9;
	border-radius: 3px;
		box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    }
    #container.forgotten_pass h3 {
	margin-bottom: 10px;
    }
    #container.forgotten_pass .form_row {
	margin-bottom: 10px;
    }
    #container.forgotten_pass input[type=password] {
	height: 40px;
	width: 100%;
	background: #F5F5F5;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #E5E5E5;
		box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 14px;
    }
    .reset_button {
	height: 35px;
	min-width: 80px;
	padding: 9px 10px;
	margin: 0;
	font-size: 12px;
	text-shadow: 1px 1px #336B8C;
    }
/* ================================================================== */