/*  ===== INFO =========================================================
   
    -FileName:		forget_password.css
    -Description:	Formatting and styling for the Forget Password Flow
    -Version:		Unspecified Beta
    -Site:		Fandrop.com
    -Author/s:		Dmitry Kashlev & Michael Eng
    
    ----- Structure ----------------------------------------------------
    
    -Page format:	960 Grid - Fluid variant
    
    ----- Anchors ------------------------------------------------------

    ================================================================= */

#container.forgotten_pass {
    margin-top: 30px;
}

.half-prefix {
    padding-left: 20px;
}
.reset_page {
    margin-bottom: 100px;
    text-align: center;
}
.reset_page h6 {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E6E6;
    margin: 0 0 30px 0px;
    font-size: 24px;
    float: left;
    text-align: left;
}
.reset_form {
    margin-left: 0px;
    /*text-align: center;*/
}
.reset_form form {
    margin-left: 0px;
    display: inline-block;
    position: relative;
    text-align: left;
}
p input {
    height: 16px;
    width: 200px;
    margin-top: 7px;
}
.reset_margin {
    margin-top: 7px;
}
.reset_text {
    color: #656565;
    font-family: "lucida grande", tahoma, helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 15px;
}
.reset_text input[type=text] {
    color: #656565;
}
.reset_form input[type=submit] {
	font-size: 16px;
	padding: 5px 10px;
	margin-left: 4px;
    /*font-size: 12px;
    margin-left: 277px;*/
}
/*
.reset_button {
    color: #fff;
    background: #3366CC;
    height: 24px;
    padding: 0 5px;
    border: none;
    margin-top: 5px;
    display: block;
    line-height: 10px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.reset_button:hover {
    background: #646464;
    cursor: pointer;
}
*/
p.error {
    width: 380px;
    color: #CC3333;
    margin: 5px auto 6px auto;
    font-weight: bold;
    display: block;
}
.no_email_error {
    background: url(/images/error.png) no-repeat left center;
    padding-left: 20px;
    margin-bottom: 10px;
    /*position: absolute;
    top: 15px;
    left: 365px;*/
}

    .passwordContainer {
    	position: relative;
		background: #eee;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border: 1px solid #E0E0E0;
		margin: 55px auto;
		padding: 30px 20px 30px 40px;
		box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
		-moz-box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
		-webkit-box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
		text-align: left;
    }
    .resetPasswordContainer {
	    width: 300px;
    }
    .resetPasswordStep2 {
	    width: 350px;
    }
    .resetPasswordStep3 h3 {
	    margin-bottom: 10px;
	    margin-left: 4px;
    }
    .passwordContainer.login {
		padding: 30px 20px 30px 40px;		
	}
	.passwordContainer .signup_content {
		padding: 30px 20px 30px 40px;		
	}
	.passwordContainer .signup_content {
		background: #EEE;
	}
	#reset_pass_input {
		width: 250px;
	}
