/*  ===== INFO =========================================================
   
    -FileName:		notification.css
    -Description:	Formatting and styling for the main Notification page
    -Version:		Unspecified Beta
    -Site:		Fandrop.com
    -Author/s:		Michael Eng
    
    ----- Structure ----------------------------------------------------
    
    -Page format:	960 Grid - Fluid variant
    
    ----- Anchors ------------------------------------------------------

	--genStyle		General Styling for the Notifications
	--notifEntry	Styling for each entry
	--moreNotif		More Notification Button at the bottom of the page
	
    ================================================================= */

/*  ===== General Style (--genStyle) ================================ */
	#all_notifications_container {
		background: #FFFFFF;
		border: 1px solid #D4D5D9;
		margin-top: 100px;
			box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	}
	.notifications_list {
		padding: 0 20px 20px;
	}
	.notificationsList_head {
		background: #F8F8F8;
		padding: 10px;
		border-bottom: 1px solid #E1E1E1;
		position: relative;
	}
	.notification_sections {
		clear: both;
		padding: 0px;
		border: 1px solid #D4D5D9;
		color: #555555;
		font-size: 18px;
		background: white;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.notification_sections .section_title {
		background: #F8F8F8;
		padding: 10px;
		font-size: 14px;
		border-bottom: 1px solid #ddd;
	}
	
/*  ================================================================= */

/*  ===== Notification Entry (--notifEntry) ========================= */

	.notification_entry {
		padding: 0px 0px 0px 9px;
		border-bottom: 1px solid #D0D0D0;
		color: #555555;
		clear: both;
	}
	.notification_entry:last-of-type {
		border-bottom-width: 0;
	}
	.notification_entry small {
		color: #B0B0B0;
		font-size: 10px;
		margin-top: 2px;
		/*float: right;*/
		display: none;
	}
	.notification_entry .read {
		font-size: 12px;
		margin-top: 5px;
		margin-left: 5px;
		display: block;
		text-align: right;
	}
	.notification_entry .read.notification_post_image_container {
		margin-top: 0;
		float: right;
		display: inline-block;
	}
	.notification_entry .avatar_holder {
		display: inline-block;
		vertical-align: top;
	}
	.notification_entry .avatar {
		padding: 0;
		vertical-align: middle;
		width: 70px;
		margin-top: 10px;
		margin-right: 10px;
				border-radius: 2px;
		   -moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	}
	.notification_entry .notification_holder {
		min-height: 90px; /* switch from min-height to height once message text is restricted more */
		width: 800px;
		padding-top: 13px;
		padding-bottom: 13px;
		display: inline-block;
				box-sizing: border-box;
		   -moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.notification_entry .notification,
    .notification_entry .notification a,
    .notification_entry .notification .comment,
	.notification_entry .notification .message_preview {
		font-size: 14px;
		line-height: 1.2em;
	}
	.notification_entry .notification {
		max-width: 800px;
		display: inline-block;
		vertical-align: top;
	}
	.notification_entry .notification_holder .follow_box {
		margin-top: 10px;
		display: block;
	}
	.notification_entry .notification_holder .request_status.blueButton,
	.notification_entry .notification_holder .followedButton {
		height: 27px;
		min-width: 110px;
		padding: 6px 10px;
		border-radius: 5px;
		font-size: 12px;
	}
	.notification_entry .link-popup {
		margin-left: 20px;
		display: inline-block;
	}
	.notification_entry .notification_drop_image	{
		max-width: 50px;
		padding: 0;
	}
	/** only for test to be changed */
	

	#scroll_notifications .notification_holder	{
		width: 250px;
		display: inline-block;
	}

	.a_hidden	{
		display: none;
	}